.decor {
  display: flex;
  align-items: center;
}

.point {
  display: inline-block;
}

.point:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 980px) {
  .decor {
    margin-top: 20px;
  }
}
