.section {
  position: relative;
  margin-bottom: 100px;
}

.root {
  width: 100%;
  height: 474px;
  background-color: #000000;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.img_container {
  position: relative;
}

.img {
  position: absolute;
  right: 0;
  max-width: 840px;
  opacity: 0;
}

.this {
  opacity: 1;
  transition: opacity 1s;
}

.nextSlide {
  opacity: 0;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.right {
  display: block;
  background-image: url("./imgs/right.svg");
  height: 48px;
  width: 48px;
  background-size: 8px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #b0b0b0;
  border-radius: 50%;
  cursor: pointer;
  background-color: #000000;
  z-index: 1;
}

.left {
  display: block;
  background-image: url("./imgs/left.svg");
  height: 24px;
  width: 24px;
  background-size: 4px 8px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #b0b0b0;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
  background-color: #000000;
  z-index: 1;
}

.decor {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .img {
    max-width: 700px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 980px) {
  .root {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 20px;
  }

  .img_container {
    height: 300px;
  }

  .img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
  }

  .btn_container {
    display: none;
  }
}

@media (max-width: 640px) {
  .img {
    position: absolute;
    width: auto;
    max-height: 300px;
  }

  .root {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
