@import "../../index.scss";

.root {
  margin-bottom: 100px;
}

.title {
  @include fontNekstBlack900(#111111);
  font-size: 54px;
  line-height: 90%;
  max-width: 753px;
  max-height: 98px;
  margin-top: 0;
  margin-bottom: 32px;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 100px;
}

@media (max-width: 1400px) {
  .title {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .root {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 670px) {
  .title {
    font-size: 44px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 34px;
  }
}
